@charset "utf-8";
html,
button,
body,
div,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
table,
td,
tr,
img,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
  border: 0;
}
img {
  border: 0;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: '微软雅黑', '宋体', Arial, Helvetica, Tahoma, Helvetica, serif;
  color: #fff;
  font-size: .16rem;
  background-color: #f5f5f5;
}
h2 img {
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0!important;
  line-height: 0;
  content: ".";
  *zoom: 1;
}
.clear {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
img {
  display: block;
}
.imgBox {
  text-align: center;
}
.middle {
  margin: 0 auto;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
/*################################*/
.home {
  width: 100%;
  height: 100% ;
}
.home .home_banner {
  position: relative;
  width: 100%;
  height: 2.48rem ;
}
.home .home_banner ul {
  height: 2.48rem ;
  overflow: hidden;
}
.home .home_banner ul li {
  float: left;
  width: 100%;
  height: 2.48rem;
}
.home .home_banner ul li img {
  width: 100%;
  height: 2.48rem;
}
.home .home_banner ol {
  position: absolute;
  left: 50%;
  margin-left: -0.8rem;
  bottom: .13rem;
  width: 1.6rem;
}
.home .home_banner ol li {
  display: inline-block;
  width: .14rem;
  height: .14rem;
  line-height: .14rem;
  border-radius: .07rem;
  overflow: hidden;
  margin-right: .12rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
.home .home_banner ol li.current {
  background-color: white;
  width: .16rem;
  height: .16rem;
  line-height: .14rem;
  border-radius: .08rem;
}
.home .home_option {
  margin: 0 auto;
  height: 1.4rem;
  width: 100%;
  background-color: white;
}
.home .home_option ul {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  height: 1.4rem;
  padding: .15rem 0 .2rem ;
}
.home .home_option ul li {
  float: left;
  height: 1.05rem;
  width: 1.05rem;
  text-align: center;
}
.home .home_option ul li img {
  margin-left: .2rem;
  height: .59rem;
  width: .66rem;
}
.home .home_option ul li span {
  color: #666666;
  font-size: .24rem;
}
.home .home_con {
  margin-top: .2rem;
  background-color: white;
  height: 10.4rem;
  overflow: hidden;
}
.home .home_con .tab_list {
  position: relative;
  width: 100%;
  font-size: .26rem;
  color: #333333;
}
.home .home_con .tab_list ul {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: .76rem;
  padding-left: .2rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.home .home_con .tab_list ul li {
  height: .76rem;
  width: 1.4rem;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  line-height: .76rem;
  border-bottom: 0.1rem rgba(255, 255, 255, 0) solid;
}
.home .home_con .tab_list ul li.current {
  border-bottom: .1rem #00a0ea solid ;
  color: #00a0ea;
}
.home .home_con .tab_list ul.allShow {
  top: .76rem ;
  height: 2.28rem;
  background-color: white;
}
.home .home_con .tab_list ul.allShow li {
  border-bottom: .01rem #e6e6e6 solid ;
}
.home .home_con .tab_list ul.allShow li.current {
  color: #00a0ea;
}
.home .home_con .tab_list .tab_hide {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: .76rem;
  line-height: .76rem;
  border-bottom: .01rem #e6e6e6 solid;
  left: 0;
}
.home .home_con .tab_list .tab_hide span {
  margin-left: .25rem;
  float: left;
  font-size: .28rem;
}
.home .home_con .tab_list > img {
  position: absolute;
  margin-top: .18rem;
  right: .2rem;
  height: .38rem;
  z-index: 4;
  box-shadow: -0.3rem 0 0.2rem white;
}
.home .home_con .tab_list .tab_search {
  width: 100%;
  padding-top: .76rem;
  padding-left: .2rem;
}
.home .home_con .tab_list .tab_search input {
  width: 95%;
  height: .7rem;
  margin: .2rem 0;
  border: .01rem solid #b5b5b5;
  border-radius: .1rem;
  background: url("../../public/images/home_search.jpg") no-repeat;
  background-size: .31rem .26rem;
  background-position: .1rem .19rem;
  padding-left: .5rem;
}
.home .home_con .tab_list .tc_con {
  width: 100%;
  height: 8.65rem;
}
.home .home_con .tab_list .tc_con div {
  display: inline-block;
  width: 2.2rem;
  height: 2.55rem;
  box-sizing: border-box;
  margin: .1rem  .1rem ;
  text-align: center;
  box-shadow: .01rem .01rem .01rem #eaeaea;
}
.home .home_con .tab_list .tc_con div img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
}
.home .home_con .tab_list .tc_con div span {
  color: #fc595e;
  font-size: .32rem;
}
