<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>机无忧</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/7.5+'px';
    </script>
</head>
<body>
    <!-- loading -->
    <div class="loading">
        <div class="loader">
            <div class="ball-triangle-path">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!--首页-->
    <div class="home">
        <div class="home_banner" id="home_banner">
            <ul >
                <li><img src="../../public/images/banner_1.jpg" alt=""></li>
                <li><img src="../../public/images/banner_2.jpg" alt=""></li>
                <li><img src="../../public/images/banner_3.jpeg" alt=""></li>
                <li><img src="../../public/images/banner_1.jpg" alt=""></li>
                <li><img src="../../public/images/banner_2.jpg" alt=""></li>
            </ul>
            <ol >
                <li ></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <div class="home_option">
            <ul>
                <li>
                    <img src="../../public/images/home_shopCart.jpg" alt="">
                    <span>如何购买</span>
                </li>
                <li>
                    <img src="../../public/images/home_setting.jpg" alt="">
                    <span>如何维修</span>
                </li>
                <li>
                    <img src="../../public/images/home_ques.jpg" alt="">
                    <span>常见问题</span>
                </li>
                <li>
                    <img src="../../public/images/home_servers.jpg" alt="">
                    <span>服务条款</span>
                </li>
                <li>
                    <img src="../../public/images/home_contact.jpg" alt="">
                    <span>联系客服</span>
                </li>
            </ul>
        </div>
        <div class="home_con">
            <div class="tab_list">
                <div class="tc_tab">
                    <ul>
                        <li class="current">苹果</li>
                        <li >OPPO</li>
                        <li >Vivo</li>
                        <li >华为</li>
                        <li >小米</li>
                        <li>金立</li>
                        <li>魅族</li>
                        <li>三星</li>
                        <li>努比亚</li>
                        <li>朵唯</li>
                        <li>IVVI</li>
                        <li>Moto</li>
                        <li>酷比</li>
                    </ul>
                </div>
                <div class="tab_hide">
                    <span class="hidden">全部分类</span>

                </div>
                <img id="listBtn"   src="../../public/images/home_list.png" alt="">
                <div class="tab_search">
                    <input type="search"  placeholder="搜索您要入保的手机型号">
                </div>
                <div class="mask"></div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>

                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>
                <div>
                    <img src="../../public/images/iphoneX.png" alt="">
                    <p>iPhone X</p>
                    <span>￥99</span>
                </div>

            </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>

                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>

                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>

                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                    <div>
                        <img src="../../public/images/vivo.png" alt="">
                        <p>Vivo</p>
                        <span>￥100</span>
                    </div>
                </div>
                <div class="tc_con">
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>
                    <div>
                        <img src="../../public/images/iphoneX.png" alt="">
                        <p>iPhone X</p>
                        <span>￥99</span>
                    </div>

                </div>

            </div>




        </div>

    </div>

    <script src="../../public/js/jquery-3.3.1.min.js"></script>
    <script src="../../public/js/picSlide.js"></script>
    <script src="../../public/js/focusSlide.js"></script>
    <script src="../../public/js/multiSlide.js"></script>
    <script src="../../public/js/index.js"></script>
    <script>
        $(function(){
            if(document.readyState === 'complete') {
                // 等待加载
                $('.loading').fadeOut();

            }
                //banner
                var homeBanner = new focusSlide($(".home_banner"));
                homeBanner.init();

                //选项卡
                tabControl("click");
                $("#listBtn").click(function () {
                    if ($(".tab_list ul").hasClass("allShow")) {
                        $(".tab_list ul").removeClass("allShow");
                        $(".tab_hide span").hide();
                        unMaskIt($(".tc_con"));
                    } else {
                        $(".tab_list ul").addClass("allShow");
                        $(".tab_hide span").show();
                        maskIt($(".tc_con"));
                    }
                });


        });

        // 打开遮罩
        function maskIt(obj){
            var hoverdiv = '<div class="divMask" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; background-color: black;opacity: 0.8; filter: alpha(opacity=80);"></div>';
            $(obj).wrap('<div style="position:relative;"></div>');
            $(obj).before(hoverdiv);
            $(obj).data("mask",true);
        }

        // 取消遮罩
        function unMaskIt(obj){
            if($(obj).data("mask")==true){
                $(obj).parent().find(".divMask").remove();
                $(obj).unwrap();
                $(obj).data("mask",false);
            }
            $(obj).data("mask",false);
        }


        //选项卡
        function tabControl(bindEvent, tabClass, ConClass, fn) {

            if (!tabClass) {
                tabClass = ".tc_tab";
            }
            if (!ConClass) {
                ConClass = ".tc_con";
            }
            jQuery(document).on(bindEvent, "li", function (e) {
                unMaskIt($(".tc_con"));

                var currentIdx = jQuery(e.currentTarget).index();
                var target_con = jQuery(e.currentTarget).parents(tabClass).siblings(ConClass).eq(currentIdx);
                if (jQuery(e.currentTarget).parents(tabClass).length > 0) {
                    if (target_con.length > 0) {
                        $(".tab_list ul").removeClass("allShow");
                        $(".tab_hide span").hide();
                        jQuery(e.currentTarget).addClass("current").siblings().removeClass("current");
                        jQuery(e.currentTarget).parents(tabClass).siblings(ConClass).hide();
                        var target_con_img = target_con.find("img");
                        if (target_con_img.length > 0) {
                            target_con_img.each(function (idx, ele) {
                                if (jQuery(ele).attr("src-original") && jQuery(ele).attr("src-original").length > 0) {
                                    var img_original = jQuery(ele).attr("src-original");
                                    if (jQuery(ele).attr("src") != img_original) jQuery(ele).attr("src", img_original);
                                }
                            });
                        }
                        target_con.show();
                        fn && fn();
                    }
                }
            });
        }

    </script>
</body>
</html>