<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">

    <script>
        document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/7.5+'px';
    </script>
</head>
<body>
    <!--订单详情页-->
    <div class="order">
        <div class="order_goods">
            <img src="../../public/images/iphoneX.png" alt="">
            <div class="title">
                <h3>iPhone X</h3>
                <p>包含黑色水晶版也可购买</p>
                <span>￥199</span>
            </div>
            <p>注:需购买90天内可购买本服务,否则无效</p>
        </div>
        <form class="order_info" >
            <div class="phone">
                <div class="phone_title">
                    <span>提交信息</span>
                    <a href="">如何找到手机IMEI</a>
                </div>
                <label for="phoneImei">手机IMEI号:</label>
                <input type="text" id="phoneImei" placeholder="请填写手机IMEI(必填)">
                <img src="../../public/images/scan.png" alt="">
            </div>
            <div class="user">

            </div>
        </form>
    </div>
<script src="../../public/js/jquery-3.3.1.min.js"></script>
<script src="../../public/js/focusSlide.js"></script>
<script src="../../public/js/index.js"></script>
<script>

</script>
</body>
</html>